<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
  <a id="nav-home" class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
  <a id="nav-cube" href="#"><i class="fa fa-fw fa-solid fa-cube"></i> Cube</a>
  <a id="nav-search" href="#"><i class="fa fa-fw fa-search"></i> Search</a>
  <a id="nav-contact" href="/about"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  <a id="nav-login" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
</div>
<div class="seperator"></div>