<style>

</style>
<div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>June 2022</h2>
        <p>Lorem ipsum</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>May 2022</h2>
        <p>Lorem ipsum</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>April 2022</h2>
        <p>Lorem ipsum</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>March 2022</h2>
        <p>Lorem ipsum</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>Feb 2022</h2>
        <p>Lorem ipsum</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>Jan 2022</h2>
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>