<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<div id='navbar' class="navbar">
    <a id="nav-plp" href="plp.html?id=6"><i class="fa fa-fw fa-user"></i> PLP</a>
    <a id="nav-aaliyah" href="login.html?id=6"><i class="fa fa-fw fa-user"></i> Aaliyah</a>
    <a id="nav-login" href="login.html"><i class="fa fa-fw fa-user"></i> Login</a>
    <a id="nav-contact" href="about.html"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a id="nav-search" href="search.html"><i class="fa fa-fw fa-search"></i> Search</a>
    <a id="nav-home" href="index.html"><i class="fa fa-fw fa-home"></i> Home</a>
</div>
<div class="seperator"></div>