<!-- Slideshow container -->
<div class="carousel-container">
    <!-- Full-width images with number and caption text -->
    <div class="carousel-mySlides carousel-fade">
      <div class="carousel-numbertext">1 / 3</div>
      <img src="media/img_mountains_wide.jpeg" style="width:100%">
      <div class="carousel-text">Caption Text</div>
    </div>
  
    <div class="carousel-mySlides carousel-fade">
      <div class="carousel-numbertext">2 / 3</div>
      <img src="media/img_nature_wide.jpeg" style="width:100%">
      <div class="carousel-text">Caption Two</div>
    </div>
  
    <div class="carousel-mySlides carousel-fade">
      <div class="carousel-numbertext">3 / 3</div>
      <img src="media/img_snow_wide.jpeg" style="width:100%">
      <div class="carousel-text">Caption Three</div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="carousel-prev" onclick="carouselPlusSlides(-1)">&#10094;</a>
    <a class="carousel-next" onclick="carouselPlusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="carousel-dot" onclick="carouselCurrentSlide(1)"></span>
    <span class="carousel-dot" onclick="carouselCurrentSlide(2)"></span>
    <span class="carousel-dot" onclick="carouselCurrentSlide(3)"></span>
  </div>