<div class="aboutus-about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="aboutus-row">
    <div class="aboutus-column">
      <div class="aboutus-card">
        <img src="media/team1.jpeg" alt="Jane" style="width:100%">
        <div class="aboutus-container">
          <h2>Jane Rogerson</h2>
          <p class="aboutus-title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="aboutus-button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="aboutus-column">
      <div class="aboutus-card">
        <img src="media/team2.jpeg" alt="Mike" style="width:100%">
        <div class="aboutus-container">
          <h2>Mike Ross</h2>
          <p class="aboutus-title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="aboutus-button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="aboutus-column">
      <div class="aboutus-card">
        <img src="media/team3.jpeg" alt="John" style="width:100%">
        <div class="aboutus-container">
          <h2>John Doe</h2>
          <p class="aboutus-title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="aboutus-button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>