<div class="image-grid-row">
    <div class="image-grid-column">
      <img src="media/wedding.jpeg" class="image-grid-img">
      <img src="media/rocks.jpeg" class="image-grid-img">
      <img src="media/falls2.jpeg" class="image-grid-img">
      <img src="media/paris.jpeg" class="image-grid-img">
      <img src="media/nature.jpeg" class="image-grid-img">
      <img src="media/mist.jpeg" class="image-grid-img">
      <img src="media/paris.jpeg" class="image-grid-img">
    </div>
    <div class="image-grid-column">
      <img src="media/underwater.jpeg" class="image-grid-img">
      <img src="media/ocean.jpeg" class="image-grid-img">
      <img src="media/wedding.jpeg" class="image-grid-img">
      <img src="media/mountainskies.jpeg" class="image-grid-img">
      <img src="media/rocks.jpeg" class="image-grid-img">
      <img src="media/underwater.jpeg" class="image-grid-img">
    </div>
    <div class="image-grid-column">
      <img src="media/wedding.jpeg" class="image-grid-img">
      <img src="media/rocks.jpeg" class="image-grid-img">
      <img src="media/falls2.jpeg" class="image-grid-img">
      <img src="media/paris.jpeg" class="image-grid-img">
      <img src="media/nature.jpeg" class="image-grid-img">
      <img src="media/mist.jpeg" class="image-grid-img">
      <img src="media/paris.jpeg" class="image-grid-img">
    </div>
    <div class="image-grid-column">
      <img src="media/underwater.jpeg" class="image-grid-img">
      <img src="media/ocean.jpeg" class="image-grid-img">
      <img src="media/wedding.jpeg" class="image-grid-img">
      <img src="media/mountainskies.jpeg" class="image-grid-img">
      <img src="media/rocks.jpeg" class="image-grid-img">
      <img src="media/underwater.jpeg" class="image-grid-img">
    </div>
  </div>